<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="/">Pokemon Encyclopedia</a></div>
            <div class="toggle-button" onclick="toggleMenu()">
            </div>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/products">Products</a>
                <a href="/contact">Contact</a>
            </div>
        </nav>
    </header>
</body>
</html>
